/**/
.topArea{
	display: flex;
	position: relative;
	border-bottom: 2px solid #ccc;
	font-size: 0.21rem;
	padding: 8px 0;
	background-color: #fff;
	align-items: center;
	justify-content: center;
}
.topArea a{
	position: absolute;
	font-size: 0.2rem;
	left: 5px;
}
/**/
.gnList_title{
	margin-top: 10px;
	color: #9b9c9f;
	font-size: 0.155rem;
}
.gnList_list{
	margin-top: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ccc;
	font-size: 0.14rem;
}
.gnList_list .mui-col-xs-4:nth-child(2){
	color: red;
	font-size: 0.16rem;
}
.gnList_list .mui-col-xs-4:nth-child(3){
	color: red;
	font-size: 0.16rem;
}
