/**/
.topArea{
	position: fixed;
	min-width: 360px;
	max-width: 1024px;
	width: 100%;
	padding: 0 10px;
	z-index: 3;
	top: 0;
	/*background-color: #1f2025;*/
	background-color: #fff;
	color: #fff;
}
.topArea div{
	margin-top: 0.25rem;
	padding-bottom: 0.08rem;
	font-size: 0.21rem;
	border-bottom: 1px solid #636479;
	color: #333;
}
.topArea img{
	float: right;
	width: 0.2rem;
	margin-top: 15px;
}
.contentArea{
	/*background-color: #1f2025;*/
	background-color: #efeff4;
}
/**/
.appTab{
	/*position: fixed;
	min-width: 360px;
	max-width: 1024px;
	width: 100%;*/
	z-index: 3;
	background-color: #696969;
	color: #fff;
	display: flex;
	justify-content: space-between;
}
.appTab span{
	width: 50%;
	text-align: center;
	font-size: 0.14rem;
	padding: 0.08rem 0;
}
.appTab_active{
	background-color: #e92f30;
}
.appTabContent{
	display: none;
}
.appTabContent_active{
	display: block;
}
/**/
.fourBlock{
}
.fourBlock .mui-row{
	margin-top: 0.06rem;
}
.fourBlock .mui-row .mui-col-xs-6:first-child{
	padding-right: 0.03rem;
}
.fourBlock .mui-row .mui-col-xs-6:last-child{
	padding-left: 0.03rem;
}
.fourBlockBox{
	border-radius: 8px;
	color: #fff;
	padding: 0.05rem;
}
.fourBlock_up{
	background: -webkit-gradient(linear,0 0,0 bottom,from(#f65a41),to(#ec333b));
}
.fourBlock_down{
	background: -webkit-gradient(linear,0 0,0 bottom,from(#05ce7d),to(#5dc87f));
}
.fourBlockBox_row1{
	font-size: 0.165rem;
}
.fourBlockBox_row2{
	margin-top: 0.065rem;
}
.fourBlockBox_row2 img{
	width: 0.6rem;
}
.fourBlockBox_row2 span{
	float: right;
	font-size: 0.2rem;
	font-weight: bold;
}
.fourBlockBox_row3{
	margin-top: 0.07rem;
	font-size: 0.15rem;
}
.fourBlockBox_row3 span:last-child{
	margin-left: 0.2rem;
}
/**/
/*.appTitle{
	width: 100%;
	display: table;
	margin-top: 5px;
	padding: 0.04rem 15px;
	border: 1px solid #636479;
	border-left: 0;
	border-right: 0;
}
.appTitle .mui-badge{
	padding: 0.04rem 0.08rem;
	font-size: 0.09rem!important;
	color: #fff;
	letter-spacing: 1px;
}
.appTitle a{
	margin-top: 0.025rem;
	font-size: 0.09rem!important;
	color: #8e8e93;
	float: right;
}*/
.appTitle{
	display: flex;
	font-size: 0.15rem!important;
	color: #ea3032;
	justify-content: space-between;
	align-items: center;

	padding: 0.1rem 5px;
}
.appTitle span{
	border-bottom: 0.03rem solid #ea3032;
	padding-bottom: 0.04rem;
}
.appTitle a{
	font-size: 0.1rem!important;
}
/**/
.blockShow{
	margin-top: 5px;
}
.blockShowBox{
	border-radius: 8px;
	background: -webkit-gradient(linear,0 0,0 bottom,from(#404b8a),to(#2b3260));
	text-align: center;
	padding: 0.1rem;
}
.blockShowBox_row1{
	color: #fff;
	font-size: 0.17rem;
}
.blockShowBox_row2{
	margin-top: 0.05rem;
	color: #f65a41;
	font-size: 0.22rem;
}
.blockShowBox_row3{
	display: flex;
	margin-top: 0.05rem;
	color: #8f8f94;
	font-size: 0.1rem;
	justify-content: space-between;
}
.blockShowBox_row3 span:last-child{
	padding-top: 0.02rem;
}
/**/
.stockInfo{
	margin-top: 5px;
	text-align: center;
}
.stockInfo_title{
	color: #9b9c9f;
	font-size: 0.155rem;
}
.stockInfo_title img{
	width: 0.15rem;
}
.stockInfo_list{
	margin-top: 5px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 5px;
}
.stockInfo_list_name{
	/*color: #fff;*/
	font-size: 0.14rem;
}
.stockInfo_list_price{
	margin-top: 0.1rem;
	color: #838799;
	font-size: 0.12rem;
}
.stockInfo_list_percent{
	margin-top: 0.09rem;
	font-size: 0.15rem;
	font-weight: bold;
}
.stockInfo_list_gap{
	margin-top: 0.09rem;
	font-size: 0.15rem;
	font-weight: bold;
}
.stockInfo_up{
	color: #FF3C51;
}
.stockInfo_down{
	color: #05c17d;
}
