/**/
.topArea{
	display: flex;
	position: relative;
	border-bottom: 2px solid #ccc;
	font-size: 0.21rem;
	padding: 8px 0;
	background-color: #fff;
	align-items: center;
	justify-content: center;
}
.topArea a{
	position: absolute;
	font-size: 0.2rem;
	left: 5px;
}
/**/
.registerBox{
	margin: 0.6rem auto 0;
	width: 3.4rem;
	border: 1px solid #ccc;
	box-shadow: 1px 4px 4px #bbb;
	padding: 0.2rem 20px 0.6rem 20px;
}
.registerBoxForm{
	margin-top: 20px;
	padding: 3px 15px;
	font-size: 0.14rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	border-radius: 10px;
}
.registerBoxForm span{
	font-size: 0.25rem;
}
.registerBoxForm input{
	border: 0;
	height: auto;
	line-height: normal;
	margin: 0;
	font-size: 0.15rem;
	width: 75%!important;
}
.registerBoxForm .mui-input-row{
	width: 75%;
}	
.registerBoxForm .mui-icon-eye{
	top: 0.095rem!important;
}
.getCheckCode{
	font-size: 0.11rem;
	color: #dd524d;
	margin-top: 8px;
	text-align: right;
	padding-right: 10px;
}
.getCheckCodeCD{
	font-size: 0.11rem;
	color: #9C9C9C;
	margin-top: 8px;
	text-align: right;
	padding-right: 10px;	
}
.registerButton{
	display: block;
	color: #fff;
	width: 85%;
	margin: 0.25rem auto 0;
	background-color: #dd524d;
	border-radius: 10px;
	border: 0;
	font-size: 0.14rem;
	padding: 0.07rem 0;
}
/**/
.zzc1{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 998;
    background-color: rgba(0,0,0,.8);
    color: #fff;
    text-align: center;
    display: none;
}
.registerSuccess{
	display: none;
	width: 3rem;
	margin: 1.2rem auto 0;
	background-color: #fff;
	border-radius: 0.1rem;
	padding:  0 0 0.4rem 0;
}
.registerSuccess .mui-icon{
	font-size: 1rem;
	color: #dd524d;
}
.registerSuccess P{
	font-size: 0.14rem;
}
.registerSuccessButton{
	display: block;
	color: #fff;
	width: 65%;
	margin: 0.25rem auto 0;
	background-color: #dd524d;
	border-radius: 10px;
	border: 0;
	font-size: 0.14rem;
	padding: 0.07rem 0;
	letter-spacing: 1px;
}
